/*
WRAPPER COMPOSITION 
A common wrapper/container
*/
.wrapper {
  position: relative;
  margin-inline: auto;
  /* background: oklab(79.444% 0.0551 0.1617 / 0.412); */
  padding-inline: var(--wrapper-padding-inline);

  max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 80rem);
}
