/* Form Block - Component-specific styling for forms */

form label {
  display: block;
  text-transform: uppercase;
}

form label span {
  color: var(--color-warning);
}

form input,
form textarea {
  display: block;
  width: 50ch;
  max-width: 100%;
}
