/* src/styles/utilities/visually-hidden.css */
.visually-hidden:where(:not(:focus-within, :active)) {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
