@import '_reset.scss' layer(components);

@import '_globals.scss' layer(components);
@import '_layout.scss' layer(components);

@import 'compositions/flow.css' layer(components);
@import 'compositions/wrapper.css' layer(components);
@import 'compositions/grid.css' layer(components);

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-bg);
  min-height: 100vh;
  color: var(--color-text);
  font-family: var(--font-system-ui);
}

.content {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-montserrat);
}
p {
  font-size: var(--step--1);
  text-wrap: pretty;
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-2);
}
