@import '_reset.scss' layer(components);

@import '_globals.scss' layer(components);
@import '_layout.scss' layer(components);

@import 'compositions/flow.css' layer(components);
@import 'compositions/wrapper.css' layer(components);
@import 'compositions/grid.css' layer(components);

@font-face {
  font-style: normal;
  font-weight: 300 800;
  src: url('/fonts/OpenSans-VariableFont_wdthwght.woff2')
    format('woff2-variations');
  font-family: 'Open Sans Variable';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 300 800;
  src: url('/fonts/OpenSans-Italic-VariableFont_wdthwght.woff2')
    format('woff2-variations');
  font-family: 'Open Sans Variable';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Montserrat-VariableFont_wght.woff2')
    format('woff2-variations');
  font-family: 'Montserrat Variable';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 100 900;
  src: url('/fonts/Montserrat-Italic-VariableFont_wght.woff2')
    format('woff2-variations');
  font-family: 'Montserrat Variable';
  font-display: swap;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-bg);
  min-height: 100vh;
  color: var(--color-text);
  line-height: 150%;
  font-family: 'Open Sans Variable';
}

.content {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-montserrat);
}
p {
  max-width: var(--maxchars);
}
li {
  max-width: calc(var(--maxchars)-5);
}
p,
a,
li {
  font-size: var(--step--1);
  text-wrap: pretty;
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-2);
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
