---
import Breadcrumbs from '@components/Breadcrumbs.astro';
import ContactForm from '@components/ContactForm.astro';
import Hero from '@components/Hero.astro';
import header from '@images/header/about.jpg';
import Layout from '@layouts/BaseLayout.astro';
import { digitalDundeeOrganization } from '@utils/schema';

const meta = {
  title: 'Contact Digital Dundee, Tay Tech and Tay5G | Digital Dundee',
  description:
    'Contact us about Digital Dundee, Tay Tech and Tay5G - a portal for the creative, digital, and tech sectors of Dundee and the wider Tay Cities region',
  imageOG: 'generic-social-1200x630.png',
  altOG: 'Contact Digital Dundee',
  schema: digitalDundeeOrganization,
};
---

<Layout metaData={meta}>
  <Hero title="Contact" image={header} alt="Contact page header" />
  <main class="wrapper flow">
    <Breadcrumbs />

    <p>
      We love a chat so please do get in touch so we can help your digital
      dreams grow.
    </p>
    <p>
      For Doug Young: +44 (0) 01382 434602 or doug@digitaldundee.com. <br />

      For Julie Craik: +44 (0)1382 432483 / +44 (0)7951 380403 or
      julie@digitaldundee.com
    </p>
    <ContactForm />
  </main>
</Layout>
