---
// pages/index.astro

import { Image } from 'astro:assets';
import TwoColumnCTA from '@components/SectionSample.astro';
import imagePromoLeft from '@images/site/promo-left.jpg';
import imagePromoRight from '@images/site/promo-right.jpg';
import image1 from '@images/site/smartphone.jpg';
import Layout from '@layouts/BaseLayout.astro';
import '@styles/two_column.css';
import VideoBack from '@components/Video.astro';

const meta = {
  title: 'Welcome to Digital Dundee and Tay Tech | Digital Dundee',
  description: 'The metadescription',
  imageOG: 'generic-social-1200x630.png',
  altOG: 'Alt text for OG image',
};
---

<Layout metaData={meta}>
  <header>
    <h1>Dundee, A Digital City Where You Can</h1>
  </header>
  <VideoBack />
  <h2 class="align-center">Welcome to Digital Dundee and Tay Tech</h2>
  <h3 class="align-center">With you to discover</h3>

  <section class="full-width-split-screen contained">
    <div class="">
      <p>
        Tech is in the DNA of Dundee and the Tay Cities region. With a strong
        culture of innovation the city and region are a thriving hub for
        creativity, digital media and ICT and home to many companies taking tech
        in new directions. Dundee has a vibrant and growing mobile application,
        software and games development scene driven by collaboration between
        entrepreneurs, academia and diverse skills and talent. A 2021 Tech
        Nation report says Dundee is one of the most likely cities to become a
        leading UK tech hub. Britain’s “coolest little city” is transforming
        through Tay Cities Deal and £1billion Waterfront investment that
        includes plans for a major new esports arena. It’s the perfect place to
        start and scale your tech business in Scotland and the UK, source
        services and find project partners.
      </p>
    </div>
    <div>
      <Image
        src={image1}
        quality={30}
        alt="A hand holding a smartphone with bokeh-like lens flare"
        layout="full-width"
      />
    </div>
  </section>
  <section class="full-width-split-screen">
    <div class="pad-top-0">
      <p>
        Landmarks like Grand Theft Auto, thin flat screens for phones and
        devices, and Minecraft have laid the foundations for a city that is
        future ready. City region companies and universities, Abertay, Dundee
        and St. Andrews, research and develop diverse products and services.
        These encompass software, business solutions, ICT, robotics, games,
        media, screen production, analytics, AI, IoT and cybersecurity serving
        many industry sectors such as include esports, transport, defence,
        space, entertainment, financial services, physical and life sciences,
        healthcare, energy, renewables and tourism. Leading tech companies
        include NCR, 4J Studios, Waracle, Brightsolid, GoRoadie and Broker
        Insights. Michelin Scotland Innovation Parc (MSIP) is a magnet for
        sustainable mobility industries.
      </p>
    </div>
    <div class="pad-top-0 flow">
      <p>
        The Tay Cities Region offers excellent connectivity. Digital
        connectivity includes 99% access to superfast broadband, accelerating
        roll-out of local full fibre networks (LFFN) and research and
        development facilities for 5G. For travel, there are direct flights
        between London City, Belfast and Dundee Airports and the city is within
        easy reach of international airports at Aberdeen, Edinburgh and Glasgow.
      </p>
      <p>
        A UNESCO City of Design. Dundee is home to the first V&A outside London.
        The city has a unique vibe so whether you are freelance or work with a
        start-up or major company, you can enjoy a high quality of life, unique
        culture and warm welcome.
      </p>
    </div>
  </section>

  <section class="full-width-split-screen overlay">
    <Image
      src={imagePromoLeft}
      quality={30}
      alt="Cat lying down staring at camera"
      layout="full-width"
    />
    <div class="">
      <h2>OPENING DOORS FOR DIGITAL DO-ERS</h2>
      <p>
        Digital Dundee is a portal for people and businesses in digital,
        creative and tech in the city and wider region. Putting collaboration
        with industry, academia and the third sector front and centre, it’s
        about growing the community, the city’s already world class
        connectivity, being a smart city and spotting opportunities.
      </p>
      <p>Find Out More</p>
    </div>

    <Image
      src={imagePromoRight}
      quality={30}
      alt="A cute kitten"
      layout="full-width"
    />
    <div class="secondary">
      <h2>MAKING THINGS HAPPEN FOR DIGITAL USERS</h2>
      <p>
        The Tay Cities Region offers a unique and warm welcome with fast and
        easy access to assistance and connections to help make great things
        happen. All of this comes with the benefits of a significantly lower
        cost base. Whatever sector you work in we can help you find the right
        mix of creative, digital and tech - any or all of these so you can work
        with your clients, sell your products and services, provide cutting edge
        training or get R&D insights or investment.
      </p>
      <p>Find Out More</p>
    </div>
  </section>

  <main class="wrapper flow">
    <div>
      <h2>Latest News</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus id
        porro necessitatibus earum veniam modi iusto eius totam officia culpa
        nemo ipsam omnis laudantium delectus, eum sed laboriosam, ex quia.
      </p>
    </div>
    <div>
      <h2>Upcoming Events</h2><p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quibusdam
        eveniet animi fuga? Sint consectetur, expedita enim quod quidem nobis
        nam, animi voluptates tempore rem sequi quibusdam velit labore ut.
      </p>
    </div>
  </main>
</Layout>
<style>
  p {
    color: rgb(118, 118, 118);
    line-height: 1.625;
  }
  .overlay {
    p,
    h2 {
      color: white;
    }
    p {
      font-weight: 700;
    }
    h2 {
      font-weight: 600;
      font-size: var(--step-2);
    }
  }
  .pad-top-0 {
    padding-block-start: 0;
  }
</style>
<script src="@scripts/image-sizes.ts"></script>
