---
import { Image } from 'astro:assets';
import image1 from '@images/panda-01.jpg';
// pages/index.astro
import Layout from '@layouts/BaseLayout.astro';

const meta = {
  title: 'Welcome to Astro',
  description: 'The metadescription',
  imageOG: 'generic-social-1200x630.png',
  altOG: 'Alt text for OG image',
};
---

<Layout metaData={meta}>
  <main class="wrapper flow">
    <h1>Start</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero aut
      magnam laborum assumenda, odio, accusamus vero nisi impedit culpa incidunt
      deserunt, quo dolorem. Soluta accusamus natus, culpa iure nemo iste!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero aut
      magnam laborum assumenda, odio, accusamus vero nisi impedit culpa incidunt
      deserunt, quo dolorem. Soluta accusamus natus, culpa iure nemo iste!
    </p>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero aut
      magnam laborum assumenda, odio, accusamus vero nisi impedit culpa incidunt
      deserunt, quo dolorem. Soluta accusamus natus, culpa iure nemo iste!
    </p>
    <ul>
      <li>Modern CSS</li>
      <li>CUBE CSS</li>
      <li>OG Meta</li>
      <li>Minimal Starter</li>
      <li>Experimental Edition</li>
      <li>Component library</li>
    </ul>
    <ol>
      <li>Minimal Starter<br /></li>
      <li>Experimental Edition</li>
      <li>Components Edition</li>
    </ol>
  </main>
</Layout>
<style>
  .resize-h {
    border: 1px solid var(--color-text-subtle);
    padding: 1rem;
    overflow: auto;
    resize: horizontal;
  }
</style>
