---
// components/Hero.astro
const { title, image, alt } = Astro.props;

import { Image } from 'astro:assets';
---

<div class="hero-wrapper">
  <header class="hero">
    <Image src={image} alt={alt} />
    <h1 class="text-shadow">{title}</h1>
  </header>
</div>

<style>
  .hero-wrapper {
    padding-block-end: var(--space-2xl);
    header {
      display: grid;
      position: relative;
      grid-template-areas: 'main';
      isolation: isolate;
      height: 300px;
      overflow: hidden;
      img {
        display: block;
        grid-area: main;
        z-index: 1;
        width: 100%;
        max-height: 300px;
        object-fit: cover;
      }
      h1 {
        grid-area: main;
        place-self: center;
        z-index: 2;
        margin: 0;
        max-width: 80%;
        color: white;
        font-size: var(--step-5);
        text-align: center;
      }
    }
  }
</style>
