---
import { getCollection } from 'astro:content';
import { getArchiveEntries } from '@utils/newsArchive';

interface Props {
  limit?: number;
  showHeading?: boolean;
  heading?: string;
}

const { limit = 8, showHeading = true, heading = 'News Archive' } = Astro.props;

const news = await getCollection('news');
const archiveEntries = getArchiveEntries(news);
const displayEntries = archiveEntries.slice(0, limit);
---

<div class="news-archive">
  {showHeading && <h2>{heading}</h2>}

  <div class="archive-list">
    {
      displayEntries.map((entry) => (
        <span class="archive-item pill">
          <a href={`/news-archive/${entry.yearMonth}`}>{entry.label}</a>
          <span class="count">({entry.count})</span>
        </span>
      ))
    }
  </div>

  {
    archiveEntries.length > limit && (
      <div class="archive-footer">
        <a class="btn pill " href="/news-archive">
          View More
        </a>
      </div>
    )
  }
</div>

<style>
  .news-archive {
    padding: var(--space-m);
  }

  h2 {
    margin-block-end: var(--space-s);
  }

  .archive-list {
    display: flex;
    gap: var(--space-2xs);
  }

  .archive-item {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    outline: 1px solid white;
    background: transparent;
  }
  .archive-item:hover {
    background: var(--gray-3);
    color: var(--color-mid-gray);
  }

  .archive-item a {
    text-decoration: none;
  }

  .count {
    color: var(--grey-3);
  }

  .archive-footer {
    margin-block-start: var(--space-s);
  }

  .btn {
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
    border-radius: 4px;
    background: var(--color-action);
    padding: var(--space-2xs) var(--space-s);
    color: white;
    text-decoration: none;
  }

  .btn:hover {
    background: var(--color-action-dark);
  }
  .pill {
    border-radius: 55px;
    padding: var(--space-2xs);
  }
</style>
