---
// @components/page/Footer.astro
import NewsArchive from '@components/NewsArchive.astro';

const year = new Date().getUTCFullYear();
---

<footer class="footer">
  <div class="wrapper">
    <p>&copy; &nbsp;{year} - And More</p>
    <NewsArchive limit={8} />
  </div>
</footer>
<style>
  .footer {
    margin-block-start: var(--size-fluid-5);
    background: var(--color-surface);
    padding-block: var(--size-fluid-1);
  }
</style>
