---
// @components/page/Footer.astro
import NewsArchive from '@components/NewsArchive.astro';

const year = new Date().getUTCFullYear();
---

<footer class="footer">
  <section class="full-width-split-screen">
    <div><h2>Form</h2></div>
    <div><NewsArchive limit={8} /></div>
  </section>
  <div class="wrapper copyright">
    <p>&copy; &nbsp;{year} Digital Dundee - All Rights Reserved</p>
  </div>
</footer>
<style>
  .footer {
    margin-block-start: var(--size-fluid-5);
    background: var(--color-dark);
    padding-block: var(--size-fluid-1);
    color: var(--gray-1);
    .copyright {
      background: var(--color-darker);
    }
  }
</style>
