---

---

<form action="#" method="post" novalidate>
  <label for="email">Email Address <span aria-hidden="true">*</span></label>
  <input
    type="email"
    id="email"
    name="email"
    required
    aria-required="true"
    autocomplete="email"
  />

  <label for="first-name">First Name</label>
  <input
    type="text"
    id="first-name"
    name="first-name"
    autocomplete="given-name"
  />

  <label for="last-name">Last Name</label>
  <input
    type="text"
    id="last-name"
    name="last-name"
    autocomplete="family-name"
  />

  <button type="submit">Submit</button>
</form>
