---
// @components/page/Header.astro

import Nav from '@components/page/HeaderNav.astro';
---

<header class="header">
  <div class="wrapper">
    <a href="/" class="brand">Digital <strong>DUNDEE</strong></a>
    <Nav />
  </div>
</header>
<style>
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-block-end: var(--size-fluid-5);
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
    /* border-bottom: rgb(118, 118, 118); */
    background: var(--color-bg);
    padding-block: var(--size-fluid-1);
  }
  .brand {
    display: inline-block;
    color: rgb(35, 35, 35);
    font-size: var(--step-1);
    font-family: var(--font-opensans);
    text-decoration: none;
    strong {
      font-weight: 600;
    }
    strong:before {
      margin-inline-end: var(--space-3xs);
      content: '|';
      color: rgb(255, 0, 255);
      font-weight: 400;
    }
  }
</style>
