---
// @components/page/HeaderNav.astro

// Not using a list, as Google sites don't seem to use it. And being sheep we follow Google

const { pathname } = Astro.url;
const links = [
  { label: 'Home', href: '/' },
  { label: 'About', href: '/about/' },
  { label: 'Be Dundee', href: '/be-dundee/' },

  { label: 'Resources', href: '/resources/' },
  { label: 'News', href: '/news/' },
  { label: 'Contact Us #', href: '/' },
  { label: 'Events', href: '/events/' },
  { label: 'Meet The Companies', href: '/meet-companies/' },
  { label: 'Success Stories', href: '/success-stories/' },
];
---

<div class="nav-links">
  {
    links.map((link) => (
      <a class={pathname == link.href ? 'active--exact' : ''} href={link.href}>
        {link.label}
      </a>
    ))
  }
</div>

<style>
  .nav-links {
    display: inline-block;
    a {
      padding-inline-end: var(--gap);
      color: black;
      font-weight: 500;
      font-size: var(--step--2);
      font-family: var(--font-montserrat);
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
    }
    .active--exact {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 4px;
    }
  }
</style>
