---
// layouts/BaseLayout.astro

import Basehead from '@components/page/Basehead.astro';
import Footer from '@components/page/Footer.astro';
import Header from '@components/page/Header.astro';
import type { MetaData } from '@types';

interface Props {
  metaData: MetaData;
}

const { metaData } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Basehead metaData={metaData} />
  <body>
    <Header />
    <div class="content">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style>
  :root {
    --wrapper-padding-inline: var(--size-fluid-4);
    --wrapper-max-width: 120ch;
    --section-padding-block: var(--size-fluid-4);
    --paragraph-max-width: 55ch;
  }
  body {
    font-family: var(--font-opensans);
  }
  p {
  }
</style>
